<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kuji.dao.mapper.customerorders.CustomerOrdersMapper">
	<select id="getCutomerOrders" resultType="com.example.kuji.entity.CustomerOrder">
		SELECT  *
		FROM    CUSTOMERORDER
	</select>
</mapper>
